.input-container {
  height: 50px;
  padding-left: 1.0rem;
  padding-right: 1.0rem;
}

.date-container {
  height: 50px;
  margin: auto;
}

.add-mode-on-container {
  background-color: white;
  color: rgb(40, 40, 46);
  margin-left: 3.0rem;
  margin-right: 3.0rem;
  min-height: 100px;
  border-radius: 10px;
  border: solid 1px #e1e1e1;
  padding: 0.5rem;
}

.MuiInputBase-root {
  width: 100%;
}
