.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px+2vmin);
  color: white;
}

.drag-n-drop {
  padding: 5px;
  display: grid;
  gap: .5rem;
  width: 100%;
  height: 100%;
  grid-template-columns: auto;
  align-items: start;
}

.dnd-group {
  background-color: white;
  padding: .5rem;
}

.dnd-item {
  background-color: white;
  color: rgb(40, 40, 46);
  display: flex;
  align-items: center;
  border-bottom: solid 1px #e1e1e1;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  min-height: 50px;
}

.dnd-item:not(:last-of-type) {
  margin-bottom: .5rem;
}

/* .dnd-item * {
  margin: 0;
  font-size: 1.2rem;
} */

.group-title {
  color: black;
  text-align: left;
  margin-bottom: .5rem;
  font-size: 1.5rem;
}

.current {
  background-color: rgb(40, 40, 46);
}

.item-container {
  position: relative;
  width: 100%;
  min-height: inherit;
}

.item-checkbox {
  display: inline-block;
  min-height: inherit;
  color: #b1a4a4;
  line-height: 50px;
}

.item-content {
  margin-left: 1.5rem;
  display: inline-block;
  min-height: inherit;
  line-height: 50px;
  font-size: 1.2rem;
}

.item-content-container {
  display: flex;
  min-height: inherit;
}

.item-date-container {
  float: right;
  color: #b1a4a4;
  font-size: 0.9rem;
  display: flex;
  min-height: inherit;
}

.item-date {
  display: inline-block;
  align-self: flex-end;
  padding-bottom: 5px;
}
