#plan-menu-header {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#plan-main-data-picker {
  font-size: 1.4rem;
}

.arrow-container {
  color: black;
  width: 2.2rem;
  height: 2.2rem;
  background-color: #e1e1e1;
  border-radius: 50%;
  display: inline-block;
  margin: 0.8rem;
}

.arrow-container:hover {
  background-color: #b3b3ae;
  transition: 0.3s;
}

.add-new-container {
  display: flex;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  min-height: 50px;
  padding-right: 1.3em;
  padding-left: 1.3em;
}

.item-add-new-container {
  float: left;
  display: flex;
  min-height: inherit;
  align-items: center;
  justify-content: center;
}

.add-new-container:hover > .item-add-new-container > .item-add-new-icon {
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 50%;
  margin-left: 0.2rem;
  margin-left: -0.3rem;
}

.add-new-container:hover {
  cursor: pointer;
}

.item-add-new-icon {
  color: #b1a4a4;
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  transition: 0.3s;
}
